// Fonts
$pt-sans: 'PT Sans', sans-serif;
$pt-sans-narrow: 'PT Sans Narrow', sans-serif;
$futura: 'AG_Futura Bold', Tahoma, Geneva, sans-serif;
$opensans: 'Open Sans', sans-serif;

//Font weights
$normal: 400;
$bold: 700;


//Colors
$color-black: #000;