@import "reset";
@import "variables";

@font-face
  font-family: 'AG_Futura Bold';
  font-style: normal
  font-weight: 700
  src: url("../fonts/ag_futura-bold.woff") format('woff'), url("../fonts/ag_futura-bold.ttf") format('truetype')

.hero
  display: flex
  position: relative
  height: 100%
  width: 100%
  background: url(../img/hero-bg.png) no-repeat top center
  background-size: cover
  align-items: center

.hero__line
  position: relative
  width: 100%
  height: 240px
  display: flex
  align-items: center
  margin: 0 auto
  &::before
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    mix-blend-mode: multiply
    background-color: #9b9b9b

.hero__inner
  display: block
  position: absolute
  top: 0
  left: 0
  bottom: 0 
  right: 0
  max-width: 1024px
  margin: 0 auto

.hero-line__inner
  max-width: 700px
  margin: 0 auto
  z-index: 1
  & p
    font: $normal 20px $pt-sans
    color: #fff
    text-align: center
    letter-spacing: 0

.hero__title
  font: 40px/1 $futura
  text-transform: uppercase
  color: #fff
  letter-spacing: 0
  text-align: center
  text-shadow: 0 2px 4px rgba(255,0,0,0.50)
  margin-bottom: 10px

.logo
  position: absolute
  left: 60px
  top: 60px
  z-index: 1
  & img
    display: block
    max-width: 300px
    height: auto
  
.social
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  bottom: 70px
  left: 60px

.social__item + .social__item
  margin-left: 20px

.eco-label
  position: absolute
  cursor: pointer
  bottom: 60px
  right: 60px
  border-radius: 50%
  border: 3px solid #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
  background: #000
  z-index: 1  

.request
  background: #fff

.request__inner
  max-width: 1024px
  padding: 60px 80px 80px
  margin: 0 auto

.request__title
  font: 46px $futura
  color: #000
  letter-spacing: 2.8px
  text-align: center
  text-shadow: 0 2px 0 rgba(249,0,0,0.50)
  text-transform: uppercase
  margin-bottom: 35px

.request__tip
  font: italic $bold 28px $opensans
  color: #d0021b
  text-align: center
  margin-bottom: 55px

.request__desc
  display: flex
  justify-content: space-between

.request-desc__text
  flex-basis: 460px

.desc-text__main
  font: $normal 24px $pt-sans
  color: #000
  text-align: left
  margin-bottom: 45px

.desc-text__note
  font: $normal 14px $pt-sans
  color: #000
  text-align: left

.request-desc__media
  & img
    display: block
    width: 100%
    max-width: 314px
    height: auto

.ecocard
  position: relative
  overflow: hidden

.ecocard__top
  background-color: #fff  
  width: 100%
  height: 125px
  background: url("../img/ecocard-top.png")
  background-position: top center
  background-size: cover
  text-align: center

.ecocard__title
  font: $bold 46px $futura
  color: #fff
  letter-spacing: 2.8px
  text-shadow: 0 2px 0 rgba(0,0,0,0.50)
  text-transform: uppercase
  margin-bottom: 15px

.ecocard__main
  background: #e4222c
  padding: 0 0 20px

.ecocard-main__inner
  max-width: 1024px
  margin: 0 auto
  text-align: center

.ecocard__text
  font: $bold 28px $pt-sans
  color: #000
  text-align: center

.ecocard__discount
  position: relative
  max-width: 725px
  height: 200px
  margin: 50px auto

.eco-discount__text
  font: italic $bold 60px/55px $opensans
  color: #fff
  text-align: left
  text-shadow: 0 2px 4px rgba(0,0,0,0.50)
  margin-bottom: 25px

.eco-discount__note
  font: $normal 18px/38px $pt-sans
  color: #000
  text-align: left

.eco-discount__percent
  position: absolute
  top: 0
  right: 10px
  font: italic $bold 244px/190px $opensans
  color: #fff
  text-shadow: 0 2px 4px rgba(0,0,0,0.50)
  
.eco-discount__asterisk
  position: absolute
  top: 0
  right: 0 
  font: italic $bold 40px $opensans
  color: #fff
  text-shadow: 0 2px 4px rgba(0,0,0,0.50)

.ecocard__button
  display: inline-block
  width: 100%
  max-width: 515px
  height: 80px
  border-radius: 3px
  text-align: center
  font: $bold 30px/80px $pt-sans
  color: #000
  background: #fff
  text-decoration: none
  box-shadow: 0 2px 4px rgba(0,0,0,0.50)
  transition: box-shadow 0.3s ease
  &:hover
    box-shadow: 0 2px 14px rgba(0,0,0,0.50)
  &:active
    box-shadow: none

.ecocard__guide
  display: flex
  max-width: 900px
  margin: 85px auto

.eco-guide__add
  position: relative
  flex-basis: 540px
  height: 430px

.guide-add__img
  display: block
  position: absolute
  left: 0
  top: 0
  max-width: 538px
  height: auto

.guide-add__label,
.guide-show__label
  position: absolute
  user-select: none
  bottom: 0
  left: 80px
  width: 320px
  height: 50px
  background: #000
  color: #fff
  border-radius: 6px
  font: $bold 30px/50px $pt-sans-narrow
  text-align: center
  &:before
    position: absolute
    display: block
    content: ''
    width: 0
    height: 0
    border-style: solid
    border-width: 0 25px 17px 25px
    border-color: transparent transparent #000000 transparent
    left: 50%
    top: -13px
    transform: translateX(-50%)

.guide-show__label
  left: 30px

.eco-guide__show
  position: relative
  flex-basis: 360px
  height: 430px

.guide-show__img
  display: block
  position: absolute
  right: 0
  top: 0
  max-width: 258px
  height: auto

.ecocard__bottom
  background-color: #fff
  width: 100%
  height: 125px
  background: url("../img/ecocard-bottom.png")
  background-position: bottom center
  background-size: cover
  padding-top: 60px
  // margin-top: -1px

.contacts
  background: #fff
  position: relative
  padding: 140px 0 90px

.contacts__inner
  max-width: 900px
  margin: 0 auto

.contacts__shop
  display: flex
  justify-content: space-between
  margin-bottom: 50px

.shop__img
  flex-basis: 210px
  & img
    max-width: 100%
    cursor: pointer
    transition: box-shadow 0.2s ease
    &:hover
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)

.shop__address
  flex-basis: 300px
  text-align: left

.address__name,
.working__name
  font: $normal 24px $pt-sans
  color: #9b9b9b

.address,
.working
  font: $bold 24px $pt-sans
  color: #000

.shop__working
  flex-basis: 230px
  text-align: right

.working__name
  text-align: left

.contacts__additional
  display: flex
  justify-content: space-between
  align-items: center

.phone
  text-decoration: none
  font: $bold 40px $futura
  color: #000
  text-shadow: 0 2px 0 rgba(193,0,0,0.50)

.contacts__price
  display: inline-block
  width: 100%
  max-width: 340px
  height: 80px
  border-radius: 3px
  text-align: center
  font: $bold 30px/80px $pt-sans
  color: #000
  background: #fed114
  text-decoration: none
  box-shadow: 0 2px 4px rgba(0,0,0,0.50)
  transition: box-shadow 0.3s ease
  &:hover
    box-shadow: 0 2px 14px rgba(0,0,0,0.50)
  &:active
    box-shadow: none

.map
  height: 100vh
  width: 100%

.logo__mobile
  display: none

.eco-discount__percent-mobile
  display: none

.guide-add__img--mob
  display: none

.show-modal
  overflow: hidden

.modal
  display: none
  position: fixed
  z-index: 999
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  justify-content: center
  align-items: center
  background-color: #000
  background-color: rgba(0,0,0,0.8)
  padding: 0 20px
  animation-name: fade
  animation-duration: 0.3s

.modal-content
  position: relative
  background: #fff
  border-radius: 4px
  padding: 50px 40px
  max-width: 400px
  animation-name: fade
  animation-duration: 0.3s
  & p
    text-align: center
    font: $normal 18px $pt-sans
    margin-bottom: 25px

.price-form
  max-width: 250px
  margin: 0 auto

.form-input
  width: 100%
  height: 40px
  border: 1px solid #979797
  border-radius: 4px
  font: $normal 20px $pt-sans
  line-height: 38px
  color: #979797
  padding: 0 10px
  &+.form-input
    margin-top: 10px

.form-button
  display: inline-block
  width: 100%
  height: 55px
  border-radius: 3px
  text-align: center
  font: $bold 24px/53px $pt-sans
  color: #000
  background: #fed114
  text-decoration: none
  box-shadow: 0 2px 4px rgba(0,0,0,0.50)
  transition: box-shadow 0.3s ease
  margin-top: 25px
  &:hover
    box-shadow: 0 2px 14px rgba(0,0,0,0.50)
  &:active
    box-shadow: none

.close-modal
  position: absolute
  cursor: pointer
  top: 10px
  right: 10px
  width: 20px
  height: 20px
  border-radius: 3px
  transition: background 0.3s ease
  &:before,
  &:after
    content: ''
    position: absolute
    margin-top: -1px
    height: 2px
    width: 100%
    top: 50%
    left: 0
    background: #000
    transition: background 0.3s ease
  &:before
    transform: rotate(45deg)
  &:after
    transform: rotate(-45deg)
  &:hover
    &:before,
    &:after
      background: #9b9b9b

.shop-images__gallery
  display: none


// #ecocard-text
//   animation-name: rotate
//   animation-duration: 0.5s
//   animation-iteration-count: infinite
//   transform-origin: 50% 50%
//   animation-timing-function: ease-in-out
//   transform: rotate(-5deg)

#ecocard-icon
  animation-name: flip
  animation-duration: 5s
  animation-iteration-count: infinite
  transform-origin: 50% 50%
  animation-timing-function: linear
  perspective: 500px


@keyframes fade
  from
    opacity: 0
  to
    opacity: 1

@keyframes rotate
  50%
    transform: rotate(5deg)
  100%
    transform: rotate(-5deg)

@keyframes flip
  0
    transform: rotateY(0)
  100%
    transform: rotateY(360deg)

@media all and (-ms-high-contrast:none)
  .hero__inner
    
  *::-ms-backdrop, .hero__inner
    
@media (max-width: 1000px)
  .logo
    display: none
  
  .logo__mobile
    display: block
    margin: 45px auto
    & img
      display: block
      max-width: 300px
      height: auto

  .hero
    flex-direction: column
    justify-content: space-between
    // height: auto

  .hero__line
    height: auto
    padding: 35px 30px 20px

  .hero-line__inner p
    font-size: 18px

  .hero__title
    font-size: 30px
    line-height: 34px

  .hero__inner
    display: flex
    position: relative
    max-width: 1024px
    width: 100%
    margin: 25px auto
    justify-content: space-between
    align-items: center

  .social
    position: static
    margin-left: 3%
    // margin: 0 auto 35px

  .eco-label
    position: static
    margin-right: 3%
    // margin: 45px auto 35px

  .request__inner
    padding: 45px 20px
  
  .request__title
    font-size: 36px
    line-height: 1
    overflow-wrap: break-word
    margin-bottom: 15px

  .request__tip
    font-size: 20px
    margin-bottom: 30px

  .request__desc
    flex-direction: column

  .request-desc__text
    flex-basis: auto

  .desc-text__main
    font-size: 18px
    margin-bottom: 25px

  .request-desc__media
    flex-basis: auto
    margin: 30px auto 0

  .ecocard__top
    margin-bottom: -2px
    padding-bottom: 10px
    // padding-left: 20px
    // padding-right: 20px

  .ecocard__bottom
    margin-top: -2px

  .ecocard__title
    font-size: 36px

  .ecocard__main
    padding: 0
  
  .ecocard-main__inner
    padding: 0 20px

  .ecocard__text
    font-size: 20px

  .ecocard__discount
    margin: 0 auto
    height: auto
    text-align: center

  .eco-discount__percent
    display: none

  .eco-discount__asterisk
    display: none
  
  .eco-discount__percent-mobile
    position: relative
    display: inline-block
    font: italic $bold 156px/140px $opensans
    color: #fff
    text-shadow: 0 2px 4px rgba(0,0,0,0.50)
    &:after
      position: absolute
      content: '*'
      font-size: 45px
      line-height: 1
      top: 10px
      right: -25px

  .eco-discount__text
    font-size: 50px
    text-align: center
    margin-bottom: 10px
  
  .eco-discount__note
    text-align: center
    margin-bottom: 15px

  .ecocard__guide
    flex-direction: column
    margin: 45px auto 0

  .eco-guide__add,
  .eco-guide__show
    position: relative
    height: auto
    flex-basis: auto
    display: flex
    flex-direction: column-reverse
    align-items: center
    margin-bottom: 30px

  .guide-add__img
    display: none

  .guide-add__img--mob
    display: block
    position: static
    max-width: 249px
    height: auto
    margin-right: 85px

  .guide-show__img
    display: block
    position: static
    margin-left: 85px

  .guide-add__label
    position: relative
    left: auto
    top: auto
    &:before

  .guide-add__label,
  .guide-show__label
    display: inline-block
    position: relative
    bottom: auto
    left: auto
    width: 144px
    height: auto
    line-height: 30px
    padding: 15px 15px
    margin-bottom: 25px
    &:before
      border-width: 17px 25px 0 25px
      border-color: #000 transparent transparent transparent
      top: auto
      bottom: -13px

  .contacts
    padding: 45px 0

  .contacts__inner
    padding: 0 30px

  .contacts__shop
    flex-direction: column
    margin-bottom: 40px

  .shop__img
    flex-basis: auto
    max-width: 100%
    margin-bottom: 40px

  .shop__address
    flex-basis: auto
    margin-bottom: 40px

  .shop__working
    flex-basis: auto

  .working-hour__table
    width: auto
    & td:first-of-type
      padding-right: 20px
    & td + td
      text-align: left

  .contacts__additional
    flex-direction: column-reverse

  .contacts__phones
    margin-top: 40px

  .phone
    font-size: 30px
    line-height: 50px

@media (max-width: 767px)
  .modal-content
    padding: 40px 20px

  .hero
    justify-content: space-between

  .logo__mobile
    margin: 20px auto

  .hero__line
    padding: 20px

  .hero__title
    font-size: 24px

  .hero-line__inner p
    display: none

  .hero__inner
    flex-direction: column-reverse

  .eco-label
    margin-right: 0
    margin-bottom: 20px
  
  .social
    margin-left: 0
  
  .request__title
    font-size: 22px

  .eco-discount__percent-mobile
    font-size: 140px

  .eco-discount__text
    font-size: 45px
    line-height: 45px

  .phone
    font-size: 24px

@media (max-height: 540px) and (max-width: 1000px)
  .hero
    height: auto